[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .form-control {
    background-color: #333 !important;
    color: #eee !important;
}

[data-theme="dark"] .nav-tabs .active {
    background-color: #333 !important;
    color: #eee !important;
}

[data-theme="dark"] .alert-primary {
    background-color: #003266 !important;
}

[data-theme="dark"] th.sorting {
    background-color: #333 !important;
    color: #eee !important;
    border-color: #555 !important;
}

[data-theme="dark"] .table-bordered td {
    border-color: #555 !important;
}

[data-theme="dark"] .table-bordered td a:link,
[data-theme="dark"] .table-bordered td a:active,
[data-theme="dark"] .table-bordered td a:visited {
    color: #fff;
}


[data-theme="dark"] .table-bordered tr.even {
    background-color: #333 !important;
}

[data-theme="dark"] .table-bordered tr.odd {
    background-color: #111 !important;
}

[data-theme="dark"] .dataTables_scrollBody {
    background-color: #555 !important;
    background-image: none !important;
}