body {
    font-family: 'Roboto', sans-serif;
}

body.modal-open #LoadingModal {
    display: flex !important;
    height: 100%;
} 

body.modal-open #LoadingModal .modal-dialog {
    margin: auto;
}

.Spinner {
    font-size: 2em;
    width: 400px;
}

.LoadingArea {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3em;
}

.container-fluid .first {
    margin-top: 20px;
}

.container .first {
    margin-top: 20px;
}

.Spacer {
    margin-top: 20px;
}

.row .HorSpacing {
    margin-top: 4px;
    margin-bottom: 4px;
}

.dataList {
    width: 100%;
    border-radius: 4px;
    /*background-color: #f9f9f9;*/
    margin-bottom: 8px;
}

.dataList th {
    height: 40px;
}

.searchBox {
    border: 1px solid #007bff;
    border-radius: 4px;
    font-size: 1.2em;
    padding: 4px;
}

.dataList tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.dataList tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.dataList tr {
    border-bottom: 1px solid #ffffff;
}

.dataList th,
.dataList td {
    padding: 2px;
}

ul.dt-button-collection {
    top: -300px !important;
    height: 300px !important;
    overflow-y: scroll;
}

ul.dt-button-collection li a:link,
ul.dt-button-collection li a:active,
ul.dt-button-collection li a:visited {
    background-color: #6c757d;
    color: #ffffff;
    display: block;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

ul.dt-button-collection li a:hover {
    background-color: #6c757d;
    color: #ffffff;
    display: block;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

ul.dt-button-collection li.active a:link,
ul.dt-button-collection li.active a:active,
ul.dt-button-collection li.active a:visited {
    background-color: #007bff;
    color: #ffffff;
    display: block;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

ul.dt-button-collection li.active a:hover {
    background-color: #007bff;
    color: #ffffff;
    display: block;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

/*Stop modals from expanding past screen height*/
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.ProfileIcon {
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 5em;
    font-weight: bold;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ProfileIconSmall {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    font-weight: bold;
}

.popover-header > .close {
    line-height: 0.7 !important;
}

.DarkSwitch {
    padding: 4px;
    border-radius: 4px;
    background-color: #333 !important;
    color: #eee;
}