@page "{id:int?}"
@model PremierKitchensDB.Pages.Addresses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md" id="AddressForm">
        <form method="post" id="AddressFormFields">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Address.Address1" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.Address1" class="form-control" />
                    <span asp-validation-for="Address.Address1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.Address2" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.Address2" class="form-control" />
                    <span asp-validation-for="Address.Address2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.Address3" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.Address3" class="form-control" />
                    <span asp-validation-for="Address.Address3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.Address4" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.Address4" class="form-control" />
                    <span asp-validation-for="Address.Address4" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.PostcodeOut" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.PostcodeOut" class="form-control col-md-3 col-sm-4 d-inline" />
                    <input asp-for="Address.PostcodeIn" class="form-control col-md-3 col-sm-4 d-inline" />
                    <span asp-validation-for="Address.PostcodeOut" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.HomePhone" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.HomePhone" class="form-control" />
                    <span asp-validation-for="Address.HomePhone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.DateFrom" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.DateFrom" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Address.DateFrom" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.DateTo" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Address.DateTo" class="form-control" />
                    <span asp-validation-for="Address.DateTo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="Address.IsPrimary" class="custom-control-input" checked />
                        <label asp-for="Address.IsPrimary" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address.AddressTypeID" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <select asp-for="Address.AddressTypeID" class="form-control" asp-items="ViewBag.AddressTypeID"></select>
                </div>
            </div>
            <div class="form-group row">
                <input type="hidden" asp-for="Address.CustomerID" value="@ViewBag.CustomerID" />
                <input type="hidden" asp-for="Address.CreatedDate" value="1900-01-01 10:30" />
                <input type="hidden" asp-for="Address.CreatedBy" />
                <input type="hidden" asp-for="Address.UpdatedDate" />
                <input type="hidden" asp-for="Address.UpdatedBy" />
                <input type="hidden" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
