<div style="display: none;">
    <div id="FilterPanel">
        <form method="post" id="CustomerFormFields">
            <div class="container">
                <div class="row">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-success btn-block FilterButton" aria-label="EQ"><i class="far fa-eye"></i> Filter By Selection</button>
                    </div>
                </div>
                <div class="row TextControls">
                    <div class="col-md HorSpacing">
                        <span class="InfoNumber">
                            Enter <kbd>&lt;=</kbd>, <kbd>&lt;</kbd>, <kbd>&gt;=</kbd>, <kbd>&gt;</kbd> for a range
                        </span>
                        <span class="InfoText">
                            Enter <kbd>*</kbd> or <kbd>%</kbd> for partial matches
                        </span>
                        <div class="input-group mb-2">
                            <input type="search" class="form-control FilterSearch" placeholder="Enter criteria..." />
                            <div class="input-group-append">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary DoFilterSearch">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-warning btn-block FilterButton" aria-label="NEQ"><i class="far fa-eye-slash"></i> Filter Excluding Selection</button>
                    </div>
                </div>
                <div class="row ClearFilterControls">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-danger btn-block FilterButton" aria-label="X"><i class="fas fa-ban"></i> Remove Filter</button>
                    </div>
                </div>
                <div class="row NumberControls">
                    <div class="col-md HorSpacing">
                        <hr />
                    </div>
                </div>
                <div class="row NumberControls">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-info btn-block FilterButton" aria-label="LT"><i class="fas fa-less-than"></i> Less Than</button>
                    </div>
                </div>
                <div class="row NumberControls">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-info btn-block FilterButton" aria-label="LTE"><i class="fas fa-less-than-equal"></i> Less Than or Equal</button>
                    </div>
                </div>
                <div class="row NumberControls">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-info btn-block FilterButton" aria-label="GT"><i class="fas fa-greater-than"></i> Greater Than</button>
                    </div>
                </div>
                <div class="row NumberControls">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-info btn-block FilterButton" aria-label="GTE"><i class="fas fa-greater-than-equal"></i> Greater Than or Equal</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md HorSpacing">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-primary btn-block SortButton" aria-label="ASC"><i class="fas fa-sort-alpha-up"></i> Sort Ascending</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md HorSpacing">
                        <button type="button" class="btn btn-primary btn-block SortButton" aria-label="DESC"><i class="fas fa-sort-alpha-down"></i> Sort Descending</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <form method="get" id="doSearch">
        <input id="SortQuery" type="text" name="sort" value="@Model.CurrentSort" />
        <input id="FilterQuery" type="text" name="search" value="@Model.CurrentSearch" />
    </form>
</div>