@page
@model PremierKitchensDB.Pages.CustomerDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid first">
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-md">
                        <button type="button" class="btn btn-primary NewCustomerButton" data-toggle="modal" data-target="#customerModal"><i class="fas fa-user-plus"></i> Add New Customer</button>
                        <button type="button" class="btn btn-secondary CustomerHistoryButton" data-toggle="modal" data-target="#customerHistoryModal"><i class="fas fa-history"></i> History</button>
                        <span class="FilterApplied" style="display: none;"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i> Filter Applied</button></span>
                        <span class="SortApplied" style="display: none;"><button type="button" class="btn btn-secondary ClearSortButton" aria-label="CustomerList"><i class="fas fa-sort-alpha-down"></i> Clear Sort</button></span>
                    </div>
                    <div class="col-md text-right">
                        <span class="FilterNotApplied"><button type="button" class="btn btn-outline-primary" disabled><i class="fas fa-info-circle"></i> Click/touch a value below to view filtering options</button></span>
                    </div>
                </div>
            </div>

            <div id="CustomerListArea" class="table-responsive">
                <table id="CustomerList" class="table table-striped table-bordered dataList" aria-label="Customers">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Customer ID</th>
                            <th>Surname</th>
                            <th>Forename</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Work Tel</th>
                            <th>Can Contact?</th>
                            <th>Existing Areas</th>
                            <th>Order Value</th>
                            <th>Outstanding Remedial Work?</th>
                            <th>Showroom</th>
                            <th>Date of Enquiry</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-md">
                        <button type="button" class="btn btn-primary NewCustomerButton" data-toggle="modal" data-target="#customerModal"><i class="fas fa-user-plus"></i> Add New Customer</button>
                        <button type="button" class="btn btn-secondary CustomerHistoryButton" data-toggle="modal" data-target="#customerHistoryModal"><i class="fas fa-history"></i> History</button>
                        <span class="FilterApplied" style="display: none;"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i> Filter Applied</button></span>
                        <span class="SortApplied" style="display: none;"><button type="button" class="btn btn-secondary ClearSortButton" aria-label="CustomerList"><i class="fas fa-sort-alpha-down"></i> Clear Sort</button></span>
                    </div>
                    <div class="col-md text-right">
                        <span class="FilterNotApplied"><button type="button" class="btn btn-outline-primary" disabled><i class="fas fa-info-circle"></i> Click/touch a value below to view filtering options</button></span>
                    </div>
                </div>
        </div>
    </div>
</div>
<input type="hidden" id="UserID" value="@Model.LoggedInUser" />
<input type="hidden" id="CustomerID" />
<input type="hidden" id="AddressID" />
<input type="hidden" id="NoteID" />
<input type="hidden" id="FormTitleID" />
<input type="hidden" id="CloseFormOnSubmit" />

<input type="hidden" id="FilterCol" name="col" />
<input type="hidden" id="FilterComp" name="comp" />
<input type="hidden" id="FilterVal" name="val" />
<input type="hidden" id="FilterTable" name="tbl" />

<input type="hidden" id="AuditTable" />
<input type="hidden" id="AuditRecordID" />

<!-- Modals -->
<partial name="_ModalsPartial" model="Model" />

<!-- Content for popover -->
<partial name="_PopoversPartial" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/form.js" asp-append-version="true"></script>
        <script src="~/js/customer.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/form.min.js" asp-append-version="true"></script>
        <script src="~/js/customer.min.js" asp-append-version="true"></script>
    </environment>
}