@page
@model PremierKitchensDB.Pages.CustomerDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid first">
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-md">
                        <button type="button" class="btn btn-primary NewCustomerButton" data-toggle="modal" data-target="#customerModal"><i class="fas fa-user-plus"></i> Add New Customer</button>
                        @if (Model.CurrentSearchSQL != "")
                        {
                            @:<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i> Filter Applied</button>
                        }
                        @if (Model.CurrentSort != "")
                        {
                            @:<button type="button" class="btn btn-secondary ClearSortButton"><i class="fas fa-sort-alpha-down"></i> Clear Sort</button>
                        }
                    </div>
                    @*<div class="col-md text-right">
                        <form method="post">
                            <input name="search" type="search" class="searchBox CustomerQuickSearch" placeholder="Search..." />
                            <button type="button" class="btn btn-primary CustomerQuickSearchButton"><i class="fas fa-search"></i> Search</button>
                        </form>
                    </div>*@
                </div>
            </div>

            <div id="CustomerListArea" class="table-responsive">
                <div class="col text-center LoadingArea">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>

            <div class="alert alert-primary" role="alert">
                <div class="row">
                    <div class="col-md">
                        <button type="button" class="btn btn-primary NewCustomerButton" data-toggle="modal" data-target="#customerModal"><i class="fas fa-user-plus"></i> Add New Customer</button>
                        @if (Model.CurrentSearchSQL != "")
                        {
                            @:<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i> Filter Applied</button>
                        }
                        @if (Model.CurrentSort != "")
                        {
                            @:<button type="button" class="btn btn-secondary ClearSortButton"><i class="fas fa-sort-alpha-down"></i> Clear Sort</button>
                        }
                    </div>
                    @*<div class="col-md text-right">
                        <input type="search" class="searchBox CustomerQuickSearch" placeholder="Search..." />
                        <button type="button" class="btn btn-primary CustomerQuickSearchButton"><i class="fas fa-search"></i> Search</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="CustomerID" />
<input type="hidden" id="AddressID" />
<input type="hidden" id="NoteID" />
<input type="hidden" id="FormTitleID" />
<input type="hidden" id="CloseFormOnSubmit" />

<input type="hidden" id="FilterCol" name="col" />
<input type="hidden" id="FilterComp" name="comp" />
<input type="hidden" id="FilterVal" name="val" />

<input type="hidden" id="AuditTable" />
<input type="hidden" id="AuditRecordID" />

<!-- Modals -->
<partial name="_ModalsPartial" model="Model" />

<!-- Content for popover -->
<partial name="_PopoversPartial" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/form.js" asp-append-version="true"></script>
        <script src="~/js/customer.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/form.min.js" asp-append-version="true"></script>
        <script src="~/js/customer.min.js" asp-append-version="true"></script>
    </environment>
}